/* Fuentes de Google Fonts */
/* Títulos: Press Start 2P */
/* Texto: Roboto */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #272b36; /* Texto gris oscuro */
    font-size: medium; /* Tamaño de fuente */;
    background-image: url('../img/bkg.gif');
    background-size: cover; /* Fondo completo */
    background-attachment: fixed; /* Fondo fijo */
}

/* Encabezados */
h1, h2, h3 {
    font-family: 'Press Start 2P', sans-serif;
    font-size: larger; /* Tamaño de fuente */
    color: #6C6EA0; /* Morado */
}
h4, h5, h6 {
    font-family: 'Press Start 2P', sans-serif;
    font-size: large; /* Tamaño de fuente */
    color: #9fa0be; /* Morado */
}

/* Header */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #272b36; /* Gris oscuro */
    color: #FFFFFF;
    padding: 1vh 5vw;
    height: 5vh;
    border-bottom: 4px solid #434A5F; /* Borde oscuro */
}
header img {
    width: 30vw;
    max-width: 300px;
    height: auto;
    transition: 0.2s; /* Efecto de rotación */
}
header img:hover {
    cursor: pointer;
    transform: rotate(2deg); /* Efecto de rotación */
}
header nav {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
}
header nav a {
    font-size: 1em; /* Tamaño de fuente */
}

/* Botones */
a {
    font-family: 'Press Start 2P', sans-serif;
    background-color: #272b36; /* Morado */
    color: #6C6EA0;
    border: 2px solid #434A5F; /* Borde oscuro */
    padding: 10px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    box-sizing: border-box;
    transition: 0.1s;
}
a:hover {
    background-color: #ffcd81;
    color: black;
}

/* Secciones */
section {
    padding: 2vh 10vw;
}

/* Titulo */
#titulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    font-size: 24px;
    height: 95vh;
    padding: 0 30vw;
    background: #272b36;
    background-image: url('../img/bkg_titulo.png');
    background-size: cover; /* Fondo completo */
    background-repeat: no-repeat; /* No repetir */
    background-position: center; /* Centrar */
}
#titulo h1 {
    font-size: 2em;
    text-align: center;
    color: #ffcd81;
    margin: 0;
}
#titulo p {
    color: whitesmoke;
    font-size: 0.7em;
    text-align: justify;
    margin: 0;
}
#titulo a {
    font-size: 0.7em;
    padding: 18px 32px;
    background: linear-gradient(90deg, #6C6EA0 60%, #9fa0be 100%);
    color: #FFFFFF;
    letter-spacing: 1px;
    transition: 0.2s;
}
#titulo a:hover {
    background: #ffcd81;
    color: black;
    transform: rotate(2deg) scale(1.1); /* Efecto de rotación */
}

/* Contenido */
#contenido {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}
#contenido div h3 {
    font-size: 24px;
    margin-bottom: 40px;
}
#viewer3d {
    width: 100%;
    height: 60vh;
    display: block;
    max-width: 40vw;
    min-height: 40vh;
}

/* Imagenes */

#imagenes {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;

    justify-content: space-evenly;
    align-items: stretch;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    height: auto;
    overflow: hidden;
}
#imagenes img {
    width: 100%;
    height: auto;
    border: 4px solid #272b36; /* Borde oscuro */
    box-sizing: border-box;
    transition: 0.2s;
}
#imagenes img:hover {
    border: 4px solid #ffcd81; /* Borde morado */
}

/* Caracteristicas */
#caracteristicas {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}
.grid-caracteristicas {
    display: grid;
    grid-template-columns: 1fr 1fr; /* 2 columnas */
    grid-template-rows: 1fr 1fr 1fr; /* 3 filas */
    width: 100%;
    gap: 20px;
    overflow: hidden;
}
.grid-caracteristicas div {
    background-color: #272b36;
    color: whitesmoke;
    padding: 20px;
    border-left: 20px solid #ffcd81; /* Borde morado */
    transition: 0.2s; /* Efecto de zoom */
}
.grid-caracteristicas div:hover {
    background-color: #434A5F;
    transform: scale(1.01); /* Efecto de zoom */
    cursor: default;
}
#guia-boton {
    color: white;
    border: 4px solid #6C6EA0; /* Borde morado */
    padding: 20px;
    width: 100%;
    margin-bottom: 40px;
    box-sizing: border-box;
}
#guia-boton:hover {
    color: #272b36;
    border-color: #272b36;
    background-color: #ffcd81; /* Gris oscuro */
}

/* Créditos */

#titulo-creditos, #titulo-guia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20vw;
    background: linear-gradient(to bottom, #434A5F, #272b36);
    height: 20vh;
}

#repositorio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #272b36; /* Gris oscuro */
    color: #FFFFFF;
    padding: 4vh 5vw;
    font-size: 14px;
    border-top: 4px solid #6C6EA0;
}

/* Repositorio */

#repositorio {
    padding: 4vh 10vw;
}
#btn-repo {
    width: 100%;
    background-color: #434A5F;
    color: white;
    border: 2px solid white;
}
#btn-repo:hover {
    background-color: #ffcd81; /* Gris oscuro */
    color: black;
    border-color: #272b36;
}

/* Assets */

#assets {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #272b36; /* Gris oscuro */
    color: #FFFFFF;
    padding: 4vh 10vw;
    font-size: 14px;
}
#assets ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
}
#assets li {
    text-decoration: none;
}
#assets a {
    color: white;
    background-color: #434A5F; /* Gris oscuro */
    border: 2px solid #272b36; /* Borde gris */
    text-align: left;
    text-decoration: none;
    padding: 10px;
    box-sizing: border-box; /* Asegura que el ancho incluya el padding */
    display: block; /* Hace que el enlace ocupe todo el ancho disponible */
}

/* Guía */

/* Tabla de controles */
#controles table {
    width: 100%;
    border-collapse: collapse;
    overflow: auto; /* Desplazamiento */
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.8); /* Sombra */
    transition: 0.2s;
}
#controles table:hover {
    box-shadow: 0 0 50px rgb(132, 137, 226); /* Sombra */
    transform: scale(1.005); /* Efecto de zoom */
}
#controles th, #controles td {
    padding: 10px;
    text-align: center;
    border: 4px solid #6C6EA0; /* Borde morado */
}
#controles th {
    font-family: 'Press Start 2P', sans-serif;
    background-color: #434A5F; /* Gris oscuro */
    color: white;
}
#controles td {
    background-color: #272b36; /* Gris oscuro */
    color: white;
}

/* Objetivo */
#objetivo {
    border-top: 4px solid #6C6EA0; /* Borde morado */
    border-bottom: 4px solid #6C6EA0; /* Borde morado */
    background: rgba(11, 11, 21, 0.8);
    color: white;
    transition: 0.2s;
}
#objetivo:hover {
    background: rgba(11, 11, 21, 0.9);
}
#objetivo ul, #recompensas ul, #habilidades ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
#objetivo li, #recompensas li, #habilidades li {
    text-decoration: none;
    padding: 15px;
    margin: 10px 0;
    background-color: #434A5F; /* Gris oscuro */
    color: white;
    border: 2px solid #6C6EA0; /* Borde morado */
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5); /* Sombra */
    transition: 0.2s; /* Transiciones */
}
#objetivo li:hover, #recompensas li:hover, #habilidades li:hover {
    background-color: #6C6EA0; /* Morado */
    color: white;
    transform: scale(1.005); /* Efecto de zoom */
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.7); /* Sombra más intensa */
}

/* Footer */
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #272b36; /* Gris oscuro */
    color: #FFFFFF;
    padding: 4vh 5vw;
    font-size: 14px;
    border-top: 4px solid #6C6EA0; /* Borde morado */
}

/* Enemigos */

#enemigos ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas */
    grid-template-rows: repeat(2, 1fr); /* 2 filas */
    gap: 20px;
    overflow: hidden;
    /* Atributos de la lista */
    list-style: none;
    padding: 0;
}
#enemigos li {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* Estilo de los elementos de la lista */
    background-color: #272b36; /* Gris oscuro */
    transition: 0.2s;
}
#enemigos li:hover {
    background-color: #ffcd81;
    transform: scale(1.01); /* Efecto de zoom */
    cursor: default;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.8); /* Sombra */

    div p {
        color: white;
    }
}
#enemigos div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* Estilo de la descripción */
    background-color: #434A5F;
    padding: 20px;
    box-sizing: border-box;
}
#enemigos img {
    height: auto;
    max-width: 400px;
    transition: 0.2s; /* Efecto de rotación */
}
#enemigos div h3 {
    color: #ffcd81;
}
#enemigos div p {
    color: #9fa0be; /* Morado */
    background-color: #272b36;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    border-left: 20px solid #6C6EA0; /* Borde morado */
}

/* Responsividad en dispositivos con pantalla pequeña */
@media (max-width: 1000px) { /* 1000px o menos */

    header {
        height: fit-content;
    }
    header img { /* Logo */
        width: 50vw;
    }
    header nav {
        flex-direction: column; /* Columna */
        gap: 2px;
    }
    header nav a {
        font-size: 0.6em; /* Tamaño de fuente */
        padding: 5px 10px;
        width: 100%;
        box-sizing: border-box;
    }

    section { /* Secciones */
        padding: 2vh 10vw;
    }

    #titulo {
        flex-direction: column;
        gap: 50px;
        padding: 0 10vw;
        height: fit-content + 50px;
        background: linear-gradient(to bottom, #434A5F, #272b36);
    }
    #titulo h1 {
        font-size: 1.2em;
    }
    #contenido {
        flex-direction: column;
        gap: 0;
    }
    #viewer3d {
        display: none;
    }

    #imagenes {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 1fr);
        gap: 10px;
    }

    .grid-caracteristicas {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
    }

    #controles {
        overflow: auto;
        box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);
        transition: 0.2s;
    }

    #enemigos ul {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
    }
}