/* Fuentes de Google Fonts */
/* Títulos: Press Start 2P */
/* Texto: Roboto */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #272b36; /* Texto gris oscuro */
    font-size: 1.2em; /* Tamaño de fuente */;
    background-image: url('../img/bkg.gif');
    background-size: cover; /* Fondo completo */
    background-attachment: fixed; /* Fondo fijo */
}

/* Encabezados */
h1, h2, h3 {
    font-family: 'Press Start 2P', sans-serif;
    font-size: 1.5em; /* Tamaño de fuente */
    color: #6C6EA0; /* Morado */
    text-shadow: 1px 1px #000000; /* Sombra retro */
}
h4, h5, h6 {
    font-family: 'Press Start 2P', sans-serif;
    font-size: 1em; /* Tamaño de fuente */
    color: #9fa0be; /* Morado */
    text-shadow: 1px 1px #000000; /* Sombra retro */
}

/* Header */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #272b36; /* Gris oscuro */
    color: #FFFFFF;
    padding: 1vh 5vw;
    border-bottom: 4px solid #434A5F; /* Borde oscuro */
}

header img {
    width: 30vw;
    max-width: 300px;
    height: auto;
    transition: 0.2s; /* Efecto de rotación */
}
header img:hover {
    cursor: pointer;
    transform: rotate(2deg); /* Efecto de rotación */
}

header nav {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
header nav a {
    font-size: 0.8em; /* Tamaño de fuente */
}

/* Botones */
a {
    font-family: 'Press Start 2P', sans-serif;
    background-color: #272b36; /* Morado */
    color: #6C6EA0;
    border: 2px solid #434A5F; /* Borde oscuro */
    padding: 10px 20px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    transition: 0.1s; /* Efecto de zoom */
}
a:hover {
    background-color: #ffcd81;
    color: black;
    transform: scale(1.05); /* Efecto de zoom */
}

/* Secciones */
section {
    padding: 10vh 10vw;
}

/* Titulo */
#titulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    font-size: 24px;
    height: 100vh;
    padding: 0 20vw;
    background: #272b36;
    background-image: url('../img/bkg_titulo.png');
    background-size: cover; /* Fondo completo */
    background-repeat: no-repeat; /* No repetir */
    background-position: center; /* Centrar */
}
#titulo h1 {
    font-size: 36px;
    text-align: center;
}
#titulo p {
    color: whitesmoke;
    font-size: 18px;
    text-align: justify;
}
#titulo a {
    font-size: 24px;
    padding: 20px;
    background-color: #6C6EA0;
    color: #FFFFFF;
    transition: 0,2s; /* Efecto de rotación */
}
#titulo a:hover {
    background-color: #ffcd81;
    color: black;
    transform: rotate(2deg) scale(1.1); /* Efecto de rotación */
}

/* Contenido */
#contenido {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}
#contenido div {
    flex: 1; /* Ocupa todo el espacio disponible */
}
#contenido img {
    width: 40vw;
    height: auto;
    max-width: 400px;
    transition: 0.2s; /* Efecto de rotación */
}
#contenido img:hover {
    cursor: pointer;
    transform: rotate(2deg); /* Efecto de rotación */
}
#contenido div h3 {
    font-size: 24px;
    margin-bottom: 40px;
}

/* Caracteristicas */
#caracteristicas {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}
.grid-caracteristicas {
    display: grid;
    grid-template-columns: 1fr 1fr; /* 2 columnas */
    grid-template-rows: 1fr 1fr 1fr; /* 3 filas */
    width: 100%;
    gap: 40px;
}
.grid-caracteristicas div {
    background-color: #272b36;
    color: whitesmoke;
    padding: 20px;
    border: 2px solid #6C6EA0; /* Borde morado */
    transition: 0.2s; /* Efecto de zoom */
}
.grid-caracteristicas div:hover {
    background-color: #434A5F;
    border: 2px solid black;
    transform: scale(1.01); /* Efecto de zoom */
    cursor: default;
}
#guia-boton {
    color: #272b36;
    background-color: #ffcd81;
    padding: 40px;
    width: 50%;
}

/* Créditos */

#titulo-creditos, #titulo-guia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20vw;
    background: linear-gradient(to bottom, #434A5F, #272b36);
    height: 20vh;
}

#repositorio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #272b36; /* Gris oscuro */
    color: #FFFFFF;
    padding: 4vh 5vw;
    font-size: 14px;
    border-top: 4px solid #6C6EA0;
}

#assets {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #272b36; /* Gris oscuro */
    color: #FFFFFF;
    padding: 4vh 10vw;
    font-size: 14px;
}
#assets ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
}
#assets li {
    text-decoration: none;
}
#assets a {
    color: white;
    background-color: #434A5F; /* Gris oscuro */
    border: 2px solid #272b36; /* Borde gris */
    text-align: left;
    text-decoration: none;
    padding: 10px;
    box-sizing: border-box; /* Asegura que el ancho incluya el padding */
    display: block; /* Hace que el enlace ocupe todo el ancho disponible */
}

/* Guía */

/* Tabla de controles */
#controles table {
    width: 100%;
    border-collapse: collapse;
    overflow: auto; /* Desplazamiento */
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.8); /* Sombra */
    transition: 0.2s;
}
#controles table:hover {
    box-shadow: 0 0 50px rgb(132, 137, 226); /* Sombra */
    transform: scale(1.005); /* Efecto de zoom */
}
#controles th, #controles td {
    padding: 10px;
    text-align: center;
    border: 4px solid #6C6EA0; /* Borde morado */
}
#controles th {
    font-family: 'Press Start 2P', sans-serif;
    background-color: #434A5F; /* Gris oscuro */
    color: white;
}
#controles td {
    background-color: #272b36; /* Gris oscuro */
    color: white;
}

/* Objetivo */
#objetivo {
    border-top: 4px solid #6C6EA0; /* Borde morado */
    border-bottom: 4px solid #6C6EA0; /* Borde morado */
    background: rgba(11, 11, 21, 0.8);
    color: white;
    transition: 0.2s;
}
#objetivo:hover {
    background: rgba(11, 11, 21, 0.9);
}
#objetivo ul, #recompensas ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
#objetivo li, #recompensas li {
    text-decoration: none;
    padding: 15px;
    margin: 10px 0;
    background-color: #434A5F; /* Gris oscuro */
    color: white;
    border: 2px solid #6C6EA0; /* Borde morado */
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5); /* Sombra */
    transition: 0.2s; /* Transiciones */
}
#objetivo li:hover, #recompensas li:hover {
    background-color: #6C6EA0; /* Morado */
    color: white;
    transform: scale(1.005); /* Efecto de zoom */
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.7); /* Sombra más intensa */
}

/* Footer */
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #272b36; /* Gris oscuro */
    color: #FFFFFF;
    padding: 4vh 5vw;
    font-size: 14px;
    border-top: 4px solid #6C6EA0; /* Borde morado */
}

/* Enemigos */

#enemigos ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas */
    grid-template-rows: repeat(2, 1fr); /* 2 filas */
    gap: 20px;
    overflow-x: scroll;
    /* Atributos de la lista */
    list-style: none;
    margin: 0;
    padding: 0;
}
#enemigos li {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* Estilo de los elementos de la lista */
    background-color: #272b36; /* Gris oscuro */
    transition: 0.2s;
}
#enemigos li:hover {
    background-color: #ffcd81;
    transform: scale(1.01); /* Efecto de zoom */
    cursor: default;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.8); /* Sombra */

    div p {
        color: white;
    }
}
#enemigos div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* Estilo de la descripción */
    background-color: #434A5F;
    padding: 20px;
    box-sizing: border-box;
}
#enemigos img {
    height: auto;
    max-width: 400px;
    transition: 0.2s; /* Efecto de rotación */
}
#enemigos div h3 {
    color: #ffcd81;
}
#enemigos div p {
    color: #9fa0be; /* Morado */
    background-color: #272b36;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    border-left: 20px solid #6C6EA0; /* Borde morado */
}

/* Responsividad en dispositivos con pantalla pequeña */
@media (max-width: 1000px) { /* 1000px o menos */
    header nav {
        flex-direction: column; /* Columna */
        gap: 2px;
    }

    header img { /* Logo */
        width: 50vw;
    }

    section { /* Secciones */
        padding: 2vh 3vw;
    }

    #titulo { 
        background-image: none;
    }

    #contenido {
        flex-direction: column;
        gap: 50px;
    }

    #enemigos ul {
        grid-template-columns: 1fr; /* 1 columna */
        grid-template-rows: repeat(6, 1fr); /* 6 filas */
    }
}