/*
 * CSS Styles for the HTML file that contains the game
 * 
 * Team BotRunners:
 * - Diego Córdova Rodríguez, A01781166
 * - Lorena Estefanía Chewtat Torres, A01785378
 * - Eder Jezrael Cantero Moreno, A01785888
 *
 * Date: 04/04/2025
*/

/* Google Fonts */
/* Titles: Press Start 2P */
/* Text: Roboto */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto:wght@400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background-color: #272b36;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  margin: 0;
  overflow: hidden;
  display:grid;
  grid-template-rows: 10vh 1fr;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header"
    "main";
  justify-content: center;
  align-items: center;
  justify-items: center;
}

header {
  grid-area: header;
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #272b36;/* Dark gray */
  color: #FFFFFF;

  border-bottom: 4px solid #434A5F; /* Dark border */
}
header img {
  width: 30vw;
  max-width: 300px;
  height: auto;
  transition: 0.2s; /* Transition to hover */
}
header img:hover {
  cursor: pointer;
  transform: rotate(2deg); /* Rotation effect */
}
header nav {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
/* Botones */
header nav a {
  font-family: 'Press Start 2P', sans-serif;
  background-color: #272b36; /* Purple */
  color: #6C6EA0;
  border: 2px solid #434A5F; /* Dark border */
  padding: 10px 20px;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  transition: 0.1s; /* Zoom effect */
}
header nav a:hover {
  background-color: #ffcd81;
  color: black;
  transform: scale(1.05); /* Zoom effect */
}

h1{
  margin: 0px;
}

canvas {
    /* width: 75vw; */
    /* height: 75vh; */
    height: 80vh;
    width: auto;
    border: 4px solid black;
    background-color: #87ceeb;
    /* width: 600px; */
    /* height: 600px; */
}

#canvas {
  background-color: #1c1e25;
  grid-area: main;
}

#uiContainer {
  position: absolute;
  top: 15vh;
  right: 5vw;
  z-index: 3;
  font-family: monospace;
  pointer-events: none;
  padding: 1em;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 1em;
  border: 1px solid turquoise;

  text-shadow:
   -1px -1px 0 #FFF,
    1px -1px 0 #FFF,
    -1px 1px 0 #FFF,
     1px 1px 0 #FFF;
}
#ui {
  opacity: 0.8;
}
#ui>div {
  pointer-events: none;
}
#ui input, #ui select, #ui option, #ui canvas {
  pointer-events: auto;
}

/* Timer */
/* Location of the timer */
#timerContainer{
  position: absolute;
  top: 10px;
  right: auto;
}
/* Timer style */
#elapsedTime{
  background-color: #1c1e25;
  border: 2px solid #434A5F;
  color:white;
  font-size: 20px;
  font-family: monospace;
  padding: 5px 20px;
}

/* Login/Registration Menu */
/* Options Menu */

.login-container, .options-container, .stats-container {
  display: none; /* Hides the container by default */
  color: white;
  position: absolute; /* Absolute positioning on the screen */
  top: 50%; /* Vertical centering */
  left: 50%; /* Horizontal centering */
  transform: translate(-50%, -50%); /* Centers the object by its midpoint */
  background-color: rgba(0, 0, 0, 0.98);
  padding: 50px;
  border: 2px solid white;
  font-family: 'Press Start 2P';
}
.login-container h2, .options-container h2, .stats-container h2 {
  margin-bottom: 50px;
}
.login-container form, .options-container form{
  display: flex;
  flex-direction: column; /* Align elements in a column */
  gap: 20px;
}
/* Input styles */
.login-container input[type="text"],
.login-container input[type="password"] {
  padding: 10px;
  border: 2px solid #434A5F;
  background-color: #1c1e25;
  color: white;
  font-family: 'Press Start 2P';
  font-size: 16px;
}
/* Style for slider inputs */
/* Ref: https://eclixxo.com/crear-slider-control-volumen-html-5/ */
.options-container input[type="range"] {
  /* Removes default styling */
  -webkit-appearance: none;
  background: #434A5F;
  border: 2px solid #6C6EA0;
  outline: none;
  height: 10px;
}
/* Style for the slider node */
.options-container input[type="range"]::-webkit-slider-thumb {
  /* Removes default styling */
  -webkit-appearance: none;
  background: #ffcd81;
  border: 2px solid #434A5F;
  height: 20px;
  width: 20px;
  cursor: pointer;
}
/* Button styles */
.login-container button, .options-container button, .stats-container button {
  padding: 10px;
  border: 2px solid #434A5F;
  background-color: #6C6EA0;
  color: white;
  font-family: 'Press Start 2P';
  font-size: 16px;
  cursor: pointer;
}
.login-container button:hover, .options-container button:hover, .stats-container button:hover {
  background-color: #ffcd81;
  color: black;
  transform: scale(1.05); /* Zoom effect */
}